body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(img/pexels-tirachard-kumtanom-112571-733852.jpg);
  background-size: cover;
}

.sidebar {
  height: 100vh;
  width: 200px;
  background-color: #6a0dad;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
}

.sidebar a i {
  margin-right: 10px;
}

.sidebar a:hover {
  background-color: #4b0082;
}

.content {
  margin-left: 220px; /* Space for the sidebar */
  padding: 20px;
}
h1{
  text-align: center;
  font-size: 70px;
}
h1 span{
  font-family: cursive;
  color: orange;
}
h2{
  font-size: 50px;
}
h2 span{
  font-family: cursive;
  color: orange;
}
button{
  width: 200px;
   display: flex;
   padding: 15px 30px;
   margin: 10px;
   border: 2px solid orange;
   border-radius: 10px;
   cursor: pointer;
   color: black;
   text-decoration: none;
}
.social { 
  display: inline-block; 
  flex-direction: column; 
  align-items: flex-start; 
} 
.social-link { 
  display: inline-block;
  align-items: center;
  text-decoration: none; 
  color: orange; 
  margin: 10px 0; 
  font-size: 40px; 
  }
 .social-link ion-icon { 
   margin-right: 10px;
}
h3{
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  margin: 10px;
}
h4{
  font-size: 25px;
}
.profile img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 1px 1px 20px orange;
}
.Contacts{
  color: black;
  font-family: cursive;
  display: contents;
  text-align: start;
}
h5 span{
  font-size: 20px;
  color: orange;
}